{% extends "base.html" %}
{% block menu %}
<div class="navbar nav-bg">
        <div class="container px-0">
            <a href="{% url 'web:feed' %}" class="navbar-brand">
                <img src="/static/logo.gif" height="32" alt="">
            </a>

            <form class="nav col-sm-6">
                <input type="search" width="100" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="nav">
                <ul class="nav me-3">
                    <li><a href="#" class="nav-link px-2 active"><i class="bi bi-house fs-5"></i></a></li>
                    <li><a href="#" class="nav-link px-2"><i class="bi bi-messenger fs-5"></i></a></li>

                    <li><a href="#" class="nav-link px-2"><i class="bi bi-compass fs-5"></i></a></li>
                    <li><a href="#" class="nav-link px-2"> <i class="bi bi-heart fs-5"></i></i></a></li>
                </ul>
                <div class="dropdown mt-0">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% if request.user.avatar %}
                            <img src="{{ request.user.avatar.url }}" alt="mdo" width="32" height="32" class="rounded-circle mt-1">
                        {% else %}
                            <img src="{% static 'avatar.png' %}" alt="mdo" width="32" height="32" class="rounded-circle mt-1">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'web:profile' username=request.user.username %}">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'web:logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
